{% extends 'base.html.twig' %}
{% block title %}Nouvelle Entreprise{% endblock %}
{% block body %}
<section>
    <div class="col-md-12 bodySection">Nouvelle Entreprise</div>
    <div class="clearfix"></div>

    <div class="container center marginT50">
        <img src="https://www.hello-pomelo.com/wp-content/uploads/2019/04/Sculpteur.png" alt="image" style="width: 30%;">
    </div>

</section>
{% endblock %}